# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

#### Core EditorConfig Options ####

# Don't use tabs for indentation.
[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Razor templates
[*.cshtml]
charset = utf-8-bom

# XML project files
[*.{csproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# XML files
[*.xml]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# PowerShell files
[*.{ps1,psm1}]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 2

# Nix files
[*.nix]
end_of_line = lf
indent_size = 2

[build.config]
end_of_line = lf

# C# files
[*.{cs,csx,cake}]
indent_size = 4
# UTF-8 + BOM (aka preamble) is really the default encoding for C#-files.
charset = utf-8-bom

# YAML looks best with 2 spaces
[*.{yml,yaml}]
indent_size = 2

[{.envrc}]
end_of_line = lf

# Resources:
# See https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# See http://kent-boogaart.com/blog/editorconfig-reference-for-c-developers
# See https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/language-rules?view=vs-2019
