<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="MaxfireCi" value="https://www.myget.org/F/maxfire-ci/api/v3/index.json" />
    <!--
      Repo feed has two purposes:
      1. Deploy packages from sub-project to other sub-project inside Domus repo
      2. Fight the 'Proxy Server from hell' when working in JBMAIN corporate environment
    -->
    <add key="Repo" value="./.nuget" />
    <add key="Brf" value="https://www.myget.org/F/brf/api/v3/index.json" />
    <add key="BrfCi" value="https://www.myget.org/F/brf-ci/api/v3/index.json" />
    <!--
      dotnet-tools feed is required for restore of RazorLearningTests
      We want to avoid: error NU1101: Unable to find package Microsoft.DiaSymReader.Pdb2Pdb.
     -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
</configuration>
